.card {
  background-color: var(--background);
  color: var(--primary);

  display: flex;
  flex-direction: column;

  border: var(--border-default);
  border-color: var(--light);
  border-radius: var(--radius-default);
  box-shadow: var(--shadow-default);

  padding: var(--spacing-medium);
  margin: var(--spacing-large);
  max-width: 240px;
}

.card button {
  background-color: #0a84ff;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.card small::before {
  content: "$";
}

.card button[disabled] {
  background-color: #bbb;
}
.card button[disabled]:hover {
  pointer-events: none;
}
